{% extends 'edc_dashboard/listboard.html' %}
{% load admin_urls %}
{% load edc_base_extras %}
{% load trainee_dashboard_extras %}

{% block listboard_panel %}
  <a id="subjectscreening_add" title="add screening" class="btn btn-sm btn-default" role="button" href="{{ subject_screening_add_url }}?next={{ screening_listboard_url }}"><i class="fa fa-plus fa-sm"></i> Add Subject Screening</a>
{% endblock %}

{% block listboard_table_header %}
  <!-- begin results header -->
  <th>#</th>
  <th></th>
  <th>Screening Identifier</th>
  <th>Subject Identifier</th>
  <th>Is Minor</th>
  <th>User</th>
  <!-- end results header -->
{% endblock %}

{% block listboard_table_button_column %}
  <td style="white-space: nowrap;">
    <div class="btn-group">
      {% if result.eligible_at_enrol %}
        {% screening_button result %}
        {% if result.subject_screening_model_obj and result.subject_screening_model_obj.is_eligible == False %}
          {% eligibility_button result %}
        {% else %}
          {% if not result.consent_model_obj %}
            {% consent_button result %}
          {% endif %}
          {% subject_locator_button result %}
          {% if result.subject_locator %}
            {% dashboard_button result %}
          {% endif %}
        {% endif %}
      {% else %}
        {% eligibility_button result %}
      {% endif %}
    </div>
  </td>
{% endblock %}

{% block listboard_table_columns %}
  <td>{{ result.screening_identifier }}</td>
  <td nowrap>{{ result.subject_identifier }}</td>
  <td nowrap>{{ result.is_minor }}</td>
  <td nowrap>{{ result.user_created }}</td>
{% endblock %}
